.expander {
    border: 1px solid black; 
    width: 250px;
}

.expander > .title { 
    background-color: black; color:white;
    padding: .1em .3em; cursor: pointer;
}

.expander > .body {
    padding: .1em .3em; 
}