<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> directives</title>
    <link rel="stylesheet" type="text/css" media="screen" href="directives.css">

</head>
<body ng-app="app" >
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="directives.js"></script>
    <div ng-controller="SomeController">
         <accordion>
            <expander class="expander" expander-title="expander.title" ng-repeat="expander in expanders">
                {{expander.text}}
             </expander>
        </accordion>
    </div>
</body>
</html>

<!--les directives sont utilisées lorsque l'on souhaite modifier ou transformer le DOM(Document Object Model)
ex de directives:
ngController : directive permettant d'attacher un contrôleur à la vue
ngRepeat : directive permettant de répéter un template pour chaque élément d'une collection
ngModel : directive permettant de lier les input,texterea ou select à une propriété du contexte actuel
ngApp : directive permettant d'initialiser l 'application. 
Cependant on peut créer nos propre directives,mais il faut respecter une convention de nommage -->