<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>les filtres</title>
</head>
<body>
    <h1>Les filtres</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src = "filtre.js"></script>
    <div ng-app="app">
        <div ng-controller="myController">
            <!--filtre reverse sous forme booléenne-->
            <span>{{greeting | reverse: true}}</span>
        </div>
    </div>
</body>
</html>

<!--les filtres ont pour rôle de transformer la donnée afin de l'afficher de manière plus élégante.
    Angular fournit des filtres prédéfinis exemple:
      -date:permet de formater une date au bon format
      -currency : permet d'afficher une valeur monétaire corectement formatée
      -lowercase et uppercase: permet d'afficher une chaine de caractère en minuscule et majuscule 
    
    *Les filtres DOIT renvoyer une fonction.
    *la signature de la fonction est composée de la chaîne de caractère à formater (input)puis des éventuels paramètres (booléen pour savoir si 
    l'on doit passer la chaîne de caractère en majuscule ou non )
    -->