<!DOCTYPE html>
<html ng-app="telApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular js</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div ng-controller= 'telephoneController'>
        <h1>Angular js</h1>

        Marque:<br/>
        <input type="text" ng-model= "filter.tel"/>{{filter.tel | uppercase}}
        
         <ul>
            <li ng-repeat="tel in telephones | filter:filter.tel">{{tel.nom}} - {{tel.prix |currency}}</li>
        </ul>
            
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script>
        var telApp = angular.module('telApp',[]);
        
        telApp.controller('telephoneController',function($scope){
            $scope.telephones = [
            {nom:'Samsung S2',prix: 1000},
            {nom:'Iphone 6' , prix: 1200},
            {nom:'Huawei', prix: 500}
            ];
        });

    </script>
   
</body>
</html>