<!DOCTYPE html>
<html ng-app='myApp'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Tuto Angular</title>
    
    </head>
    <body>
        <script src="intro.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
        <!--ng-app pour dire que c'est une application angular-->
        <!--création du controller avec ng-controller-->

        <section ng-controller='monController'>
        <p>ici est le texte du scope : {{text}}</p>
        <ul>
            <li ng-repeat="element in array">{{element}}</li>
        </ul>

        </section>
        <script>
            var myApp = angular.module('myApp',[]);
            myApp.config(function(){});
            //création du controller(regroupement de fonctions js)
            angular.module('myApp').controller('monController',['$scope',function($scope){
            //le scope est une passerelle entre la vue et le controller
            $scope.text = "Hello";
            $scope.array = [1,2,3,4,5];
            }]);
        </script>
    </body>
</html>
