<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tuto Scope</title>
</head>
<body>
    <script src="scope.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
        <div ng-app="app">
            <div ng-controller="exempleCtrl">
             HELLO {{name}}!
            </div>
        </div>
</body>
</html>
<!--le data-binding se fait grâce a notre objet $scope,chaque controleur 
    possédera son propre $scope et donc son propre contexte.
$rootScope permet d'accèder à l'ensemble des contextes présent dans notre 
page-->