<!DOCTYPE html> 

<!-- 
/**

  The Initial Developer of the Original Code is
  Matthieu  - http://www.programmation-facile.com/
  Portions created by the Initial Developer are Copyright (C) 2013
  the Initial Developer. All Rights Reserved.

  Contributor(s) :

 */

 --> 
 
<html lang="fr"> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="include/css/site.css"/> 

<script type="text/javascript" src="include/js/angular-1.3.min.js"></script>

<script>document.write('<script src="include/js/main.js?dev=' + Math.floor(Math.random() * 100) + '"\><\/script>');</script>

<style>
  .48 ul {
    list-style: none;
  }
  .48 li {
    display: inline-block;
    float: left;
    position: relative;
    margin: 20px;
  }
  .48 .infoscontainer {
    position: absolute;
  }
</style>

  </head> 
 
  <body ng-app="AppliAngularJS"> 
    <header> 
      
      <h1>Developpement Facile</h1>
    </header> 

    <nav> 
      <ul> 
        <li>Accueil</li> 
        <li>Nous Contacter</li> 
        <li>A Propos</li> 
      </ul> 
    </nav>

    <div class="separateur"></div> 
 
    <section id="content">

      <div ng-controller="MainControler"> 
<!-- Zone gérée avec AngularJS -->

          <div ng-controller="ViewControler"> 
              <h1>{{title}}</h1> 
              <h2>{{pageTitle}}</h2> 
          </div> 
          
          <div ng-controller="CalculatorController">
              Renseignez un nombre pour le calcul :
              <input type="number" ng-model="number" />
              <button ng-click="doSquare()">X<sup>2</sup> (Puissance 2)</button>
              <button ng-click="doCube()">X<sup>3</sup> (Puissance 3)</button>
              
              <div>Résultat du calcul: {{answer}}</div>
          </div>

      </div>

    </section> 
 	
	<footer> 
		<p>Copyright www.Developpement-Facile.com 2014</p>  
	</footer> 

  </body> 
</html>

<!--Les services natifs d'Angular possède une notation commençant par $.  les services sont des singletons ,c'est à dire des instances uniques.
Le rôle d'un service est de fournir un ensemble de tâches nécessaires au fonctionnement de votre application.Angular a des services natives tres uiles:
  -$location : interagir avec l'URL du navigateur .
  -$route : changer de vue en fonction de l'URL.
  -$http : communiquer avec les serveurs.
  -un service est considéré comme un simple module qui est chargé de retourner un objet.
  un module est est de type factory ,service ou provider.


-->


