<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-init="noms=['Théo','Lili','Lucas']">
     <h1>Test1</h1>
    Calcul {{ 2+3 }}<br> 
    Nom:<br/>
    <input type="text" ng-model="nom">{{nom}}

    <ul>
        <li ng-repeat="personne in noms | filter:nom ">{{personne | lowercase}}</li>
    </ul>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>  
</body>
</html>