<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test1</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="test1.js"></script>
    <div ng-app="myApp">
            <div ng-controller="exemple1Ctrl">
                <input ng-model="age"/>
                <span>Vous êtes <b ng-bind="majeurOrMineurText()"></b></span>
        </div>
    
</body>
</html>
<!--le Data-binding utiliser par angularjs est un moyen de lier la partie vue àa la partie logique(c-à-d lier les éléments html avec le 
    controleur javascript-->
<!--la directive ng-model permet de lier la valeur du champs input à la valeur de la variable age-->
<!--la directive ng-bind a laquelle je lie une fonction qui retourne une chaine de caractère "mineur ou majeur" en fonction de son âge--> 