<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tuto watch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="watch.css">
   
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
    <script src="watch.js"></script>
    <div ng-app="app">
        <div ng-controller="BillCtrl">
            <ul>
                <li ng-repeat="article in articles">
                    <label>{{article.name}}:</label>
                    <input ng-model="article.price"/>
                    <input type = "number" ng-model = "article.quantity"/>
                </li>
            </ul>
            <div>
                <label>Total facture: </label><span>{{total() |currency:"€":2}}</span>
            </div>
            <div>
                <label>Réduction: </label><span>{{discount | currency: "€":2}}</span>
            </div>
            <div>
                <label>Somme à payer: </label><span>{{finalTotal() | currency: "€":2}}</span>
            </div>
        </div>
    </div>
</body>
</html>
<!--$watch est une fonction attaché à $scope qui permet d'observer certaines propriété
de notre modèle et de déclencher des opérations lorsque la valeur de ces propriétés
changent.
-->